body{
   
    margin: 0px;
    padding: 0px;
    background-color: #F8F6F6;
    background: gray url(../Images/nice.jpg) ;
    position: center;
 
}

.Mainbody {
    position: relative;
    top:100px;
    width: 700px;
    border: 30px solid green;
    padding: 25px; 
    margin-left: auto;
    margin-right: auto;
}
