h2{
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px;
    padding:30px;
    color:green;
}
html, body {
    margin: 0; padding: 0;
  }
  .hero-bkg-animated {
    background: gray url(../Images/Capture.PNG) repeat 0 0;
    width: 100%;
    margin: 0;
    background-repeat:  repeat;
    text-align: center;
    height: 800px;
    padding-top: auto;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
  }
  
  .hero-bkg-animated h1 {
    font-family: sans-serif;
  }
  
  @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -400px 0; }
  }
#form{
    width:600px;
    height: 350px;
    border: 1px solid #E0E0E0;
    position: relative;
    flex-direction: row;
    left: 500px;
    top:40px;
    border-radius: 5px;
    background-color :yellow ;
    
}

 .register{
    text-align: center;
 }

input[type=text],input[type=password],input[type=email],#state{
    position: relative;
    width:90%;
    padding: 15px;
    margin-top: 8px;
    border: 1px solid #ccc;
    left: 10px;
    font-size: 16px;
    font-family:raleway;
    border-radius: 5px;
    }

    input[type=submit]{
        position: relative;
        width: 30%;
        background-color:green;
        color: white;
        border: 2px solid #FCF8EC;
        padding: 10px;
        font-size:20px;
        cursor:pointer;
        border-radius: 5px;
        margin-bottom: 15px;
        top:10px;
        left:100px;

        }