@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Scope+One|Trocchi");

#header {
    background: rgba(0, 0, 0, 0.75);
    color: #aed6f1;
    cursor: default;
    height: 3.25em;
    left: 0;
    line-height: 3.25em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header > .logo {
    display: inline-block;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

#header > .logo a {
    font-size: 1.25em;
    color: #3498db;
}

#header > .logo a:hover {
    color: #3498db;
}

#header > .logo span {
    font-weight: 300;
    font-size: .8em;
    color: #FFF;
}

#header > a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 0.75em;
    color: inherit;
    text-decoration: none;
    color: #FFF;
}

#header > a:hover {
    color: #3498db;
}

#header > a[href="#menu"] {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

#header > a[href="#menu"]:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#header > a[href="#menu"]:before {
    margin: 0 0.5em 0 0;
}

#header > a + a[href="#menu"]:last-child {
    border-left: solid 1px rgba(255, 255, 255, 0.25);
    padding-left: 1.25em;
    margin-left: 0.5em;
}

#header > a:last-child {
    padding-right: 1.25em;
}

@media screen and (max-width: 736px) {

    #header > a {
        padding: 0 0.5em;
    }

    #header > a + a[href="#menu"]:last-child {
        padding-left: 1em;
        margin-left: 0.25em;
    }

    #header > a:last-child {
        padding-right: 1em;
    }

}

#header.reveal {
    -moz-animation: reveal-header 0.5s ease;
    -webkit-animation: reveal-header 0.5s ease;
    -ms-animation: reveal-header 0.5s ease;
    animation: reveal-header 0.5s ease;
}

#header.alt {
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background-color: transparent;
    box-shadow: none;
    overflow: hidden;
    position: absolute;
    top: 1.5em;
}

#header.alt h1 {
    left: 2.5em;
}

#header.alt nav {
    right: 2.5em;
}

@media screen and (max-width: 980px) {

    body.subpage {
        padding-top: 44px;
    }

    #header {
        height: 44px;
        line-height: 44px;
    }

    #header > h1 {
        left: 1em;
    }

    #header > h1 a {
        font-size: 1em;
    }

}


#menu {
    -moz-transform: translateX(20em);
    -webkit-transform: translateX(20em);
    -ms-transform: translateX(20em);
    transform: translateX(20em);
    -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, 0.925);
    box-shadow: none;
    color: #fff;
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 20em;
    z-index: 10002;
}

#menu > ul {
    margin: 0 0 1em 0;
}

#menu > ul.links {
    list-style: none;
    padding: 0;

    font-size: 20px;
}

#menu > ul.links > li {
    padding: 0;
}

#menu > ul.links > li > a:not(.button) {
    border: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    color: inherit;
    display: block;
    line-height: 3.5em;
    text-decoration: none;
}

#menu > ul.links > li > .button {
    display: block;
    margin: 0.5em 0 0 0;
}

#menu > ul.links > li:hover {
    color: #3498db;
}

#menu > ul.links > li:first-child > a:not(.button) {
    border-top: 0 !important;
}

#menu .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 3.25em;
    line-height: 3.25em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 7em;
}

#menu .close:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#menu .close:before {
    font-size: 1.25em;
}

#menu .close:hover {
    color: #3498db;
}

@media screen and (max-width: 736px) {

    #menu .close {
        height: 4em;
        line-height: 4em;
    }

}

#menu.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    visibility: visible;
}

@media screen and (max-width: 736px) {

    #menu {
        padding: 2.5em 1.75em;
    }

}

.form-style-5{
    max-width: 800px;
    padding: 10px 20px;
    background: #ffffff;
    margin: 10px auto;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}
.form-style-5 fieldset{
    border: none;
}
.input-field__label{
    /* font-size: 1.1rem; */
    margin: 0 0.9rem;
    font-size: 0.9rem;
}

/* modifiers for the input label */
.input-field__label--small{
    margin: 0;
}

.input-field__label--right{
    text-align: right;
}

.input-field__label--start{
    min-width: 80px;
    font-family: sans-serif;

}

.input-field__button{
    outline: none;
    border: 1px solid transparent;
    font-size: 0.9rem;
    padding: 0.5rem 0.9rem;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    text-decoration: none;
    background: rgb(42, 170, 255);
    color: white;
    min-width: 80px;
    text-transform: uppercase;
    white-space: nowrap;
}

/* modifiers for the input field button */
.input-field__button--small{
    padding: 0.5rem 0.5rem;
}

.input-field__button--large{
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
    line-height: normal;
}


.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:black;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}
.input-field__button {
    width: 50px;
    margin-bottom: 20px;
    border:none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.input-field__button:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}
body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.wrapper{
    box-sizing: border-box;
    width: inherit;
    min-height: 100vh;
    background: url(../Images/Capture.PNG) center no-repeat;
    background-size: cover;
}

.container{
    max-width: 80%;
    margin: auto;
}

/* form styles */
.form{
    padding: 1rem 0;
    margin-top: 5%;

}