@import url(http://fonts.googleapis.com/css?family=Raleway);

h2{
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: -10px -40px;
    padding:30px;
}

#form{
    width:400px;
    height: 520px;
    border: 1px solid yellow;
    position: relative;
    left: 500px;
    top:40px;
    color:green;
 
}
.hero-bkg-animated {
    background: gray url(../Images/Capture.PNG) repeat 0 0;
    width: 100%;
    margin: 0;
    background-repeat:  repeat;
    text-align: center;
    height: 800px;
    padding-top: auto;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
  }
  .hero-bkg-animated h1 {
    font-family: sans-serif;
  }
  
  @-webkit-keyframes slide {
      from { background-position: 0 0; }
      to { background-position: -400px 0; }}

input[type=text],input[type=password],input[type=email],#state{
    position: relative;
    width:90%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    left: 10px;
    font-size: 16px;
    font-family:raleway;
    border-radius: 5px;
    }
body{
    background-image: url("../Images/Capture.PNG");
    background-repeat:  repeat;
    background-color: #cccccc;
}
    input[type=submit]{
        position: relative;
        width: 30%;
        
        color: green;
        border: 2px solid #FCF8EC;
        padding: 10px;
        font-size:20px;
        cursor:pointer;
        border-radius: 5px;
        margin-bottom: 15px;
        top:10px;
        left:100px;

        }
