@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Scope+One|Trocchi");
body, html {
    margin: 0;
    padding: 0;
    width: 100%;

    box-sizing: border-box;
}


/*
new
 */

#header {
    background: rgba(0, 0, 0, 0.75);
    color: #aed6f1;
    cursor: default;
    height: 3.25em;
    left: 0;
    line-height: 3.25em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 10001;
}

#header > .logo {
    display: inline-block;
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
}

#header > .logo a {
    font-size: 1.25em;
    color: #3498db;
}

#header > .logo a:hover {
    color: #3498db;
}

#header > .logo span {
    font-weight: 300;
    font-size: .8em;
    color: #FFF;
}

#header > a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 0.75em;
    color: inherit;
    text-decoration: none;
    color: #FFF;
}

#header > a:hover {
    color: #3498db;
}

#header > a[href="#menu"] {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

#header > a[href="#menu"]:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#header > a[href="#menu"]:before {
    margin: 0 0.5em 0 0;
}

#header > a + a[href="#menu"]:last-child {
    border-left: solid 1px rgba(255, 255, 255, 0.25);
    padding-left: 1.25em;
    margin-left: 0.5em;
}

#header > a:last-child {
    padding-right: 1.25em;
}

@media screen and (max-width: 736px) {

    #header > a {
        padding: 0 0.5em;
    }

    #header > a + a[href="#menu"]:last-child {
        padding-left: 1em;
        margin-left: 0.25em;
    }

    #header > a:last-child {
        padding-right: 1em;
    }

}

#header.reveal {
    -moz-animation: reveal-header 0.5s ease;
    -webkit-animation: reveal-header 0.5s ease;
    -ms-animation: reveal-header 0.5s ease;
    animation: reveal-header 0.5s ease;
}

#header.alt {
    -moz-animation: none;
    -webkit-animation: none;
    -ms-animation: none;
    animation: none;
    background-color: transparent;
    box-shadow: none;
    overflow: hidden;
    position: absolute;
    top: 1.5em;
}

#header.alt h1 {
    left: 2.5em;
}

#header.alt nav {
    right: 2.5em;
}

@media screen and (max-width: 980px) {

    body.subpage {
        padding-top: 44px;
    }

    #header {
        height: 44px;
        line-height: 44px;
    }

    #header > h1 {
        left: 1em;
    }

    #header > h1 a {
        font-size: 1em;
    }

}


#menu {
    -moz-transform: translateX(20em);
    -webkit-transform: translateX(20em);
    -ms-transform: translateX(20em);
    transform: translateX(20em);
    -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, 0.925);
    box-shadow: none;
    color: #fff;
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 20em;
    z-index: 10002;
}

#menu > ul {
    margin: 0 0 1em 0;
}

#menu > ul.links {
    list-style: none;
    padding: 0;

    font-size: 20px;
}

#menu > ul.links > li {
    padding: 0;
}

#menu > ul.links > li > a:not(.button) {
    border: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.25);
    color: inherit;
    display: block;
    line-height: 3.5em;
    text-decoration: none;
}

#menu > ul.links > li > .button {
    display: block;
    margin: 0.5em 0 0 0;
}

#menu > ul.links > li:hover {
    color: #3498db;
}

#menu > ul.links > li:first-child > a:not(.button) {
    border-top: 0 !important;
}

#menu .close {
    text-decoration: none;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 3.25em;
    line-height: 3.25em;
    padding-right: 1.25em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    vertical-align: middle;
    width: 7em;
}

#menu .close:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

#menu .close:before {
    font-size: 1.25em;
}

#menu .close:hover {
    color: #3498db;
}

@media screen and (max-width: 736px) {

    #menu .close {
        height: 4em;
        line-height: 4em;
    }

}

#menu.visible {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    visibility: visible;
}

@media screen and (max-width: 736px) {

    #menu {
        padding: 2.5em 1.75em;
    }

}


/* set the styles for the wrapper element */
.wrapper{
    box-sizing: border-box;
    width: inherit;
    min-height: 100vh;
    background: url(../Images/Capture.PNG) center no-repeat;
    background-size: cover;
}



.alert{
    position:relative;
    padding:.75rem 1.25rem;
    margin-bottom:1rem;
    border:1px solid transparent;
    border-radius:.25rem
}
.alert-danger
{
    color:#721c24;
    background-color:#f8d7da;
    border-color:#f5c6cb
}
.alert-warning{
    color:#856404;
    background-color:#fff3cd;
    border-color:#ffeeba
}
.login-box{
    margin: auto;
    width: 550px;
    height: inherit;
    position: absolute;
    background: rgba( 0, 0, 0, 0.5);
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    box-sizing: border-box;
    padding: 70px 30px;


}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1 {
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight:bold ;
    font-size: 15px;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type='text'], input[type="password"]
{
    border : none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box button
{
    width: 100%;
    margin-bottom: 20px;
    border:none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box input[type="submit"]
{
    width: 100%;
    margin-bottom: 20px;
    border:none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box button:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}
.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}